---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FeaturesCenter from '~/components/widgets/FeaturesCenter.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Ziyu Li',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Publications', href: '#publications' },
        { text: 'Projects', href: '#project' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'CV',
          href: '/assets/file/ziyu_cv_en.pdf',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ziyu Li"
    tagline="About me"
  >
    <Fragment slot="subtitle">
      I'm currently a postdoctoral researcher at the Web Information Systems group at Delft University of Technology, actively seeking employment opportunities.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X',
          href: 'https://twitter.com/ziyuli_li',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/ziyu-li-85b93213a/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/zLizy',
        },
      },
    ]}
    image={{
      src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/ziyu_li.jpg',
      alt: 'Colorful Image',
      width: '250%',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am a PhD student at the Web Information Systems group, Department of Software Technology, Faculty of EEMCS, Delft University of Technology. 
        The PhD project belongs to the HyperEdge project with Cognizant. I’m supervised by Alessandro Bozzon<a href="https://www.alessandrobozzon.com/"> and Asterios Katsifodimos<a href="https://asterios.katsifodimos.com/">. 
      </p>
      <br />
      <p>
        My research lies at the intersection of Machine Learning and data analysis. 
        In particular, my reserach investigates how to apply metadata of different artifacts (e.g., model, data, hardware settings) to improve the effectiveness and efficiency of machine learning workflows. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
  <!-- Content Widget **************** -->


  <FeaturesCenter
    id="publications"
    title="Publications"
    columns={1}
    items={[
      {
        callToAction:{
          text:'Model Selection with Model Zoo via Graph Learning',
          href: 'amalur',
        },
        image:{
          src: '~/assets/images/icde-2024.png',
          alt: 'Colorful Image',
        },
        description: '<strong> Ziyu Li </strong>, Hilco van der Wilk, Danning Zhan, Megha Khosla, Alessandro Bozzon, Rihan Hai <br \> In Proceedings of the 2024 IEEE 40th International Conference on Data Engineering, ICDE 2024',
      },
      {
        callToAction:{
          text:'Amalur: the Convergence of Data Integration and Machine Learning',
          href: 'amalur',
        },
        paperurl: {
          href: 'https://ieeexplore.ieee.org/abstract/document/10412203',
        },
        blogurl: {
          href:'amalur',
        },
        image:{
          src: '~/assets/images/tkde.png',
          alt: 'Colorful Image',
        },
        description: '<strong> Ziyu Li</strong>, Wenbo Sun, Danning Zhan, Yan Kang, Lydia Chen, Alessandro Bozzon, and Rihan Hai. <br /> IEEE Transactions on Knowledge and Data Engineering (2024).'
      },
      {
        callToAction: {
          target: '_blank',
          title: '',
          href: 'amalur',
          text: 'Amalur: Data Integration Meets Machine Learning',
        },
        paperurl: {
          href: 'amalur',
        },
        blogurl: {
          href: 'amalur',
        },
        image:{
          src: '~/assets/images/icde-2023.png',
          alt: 'Colorful Image',
        },
        description: 'Rihan Hai, Christos Koutras, Andra Ionescu, <strong>Ziyu Li</strong>, Wenbo Sun, Jessie van Schijndel, Yan Kang, Asterios Katsifodimos <br /> In Proceedings of the 2023 IEEE 39th International Conference on Data Engineering, ICDE 2023 p.3729-3739, IEEE .',
      },
      {
        title: 'Metadata Representations for Queryable Repositories of Machine Learning Models',
        description: 'Ziyu Li, Henk Kant, Rihan Hai, Asterios Katsifodimos, Marco Brambilla, Alessandro Bozzon <br /> In IEEE Access Volume 11 p.125616-125630 (2023).',
        image:{
          src: '~/assets/images/ieee-access.png',
          alt: 'Colorful Image',
        },
      },
      {
        title: 'Macaroni: Crawling and Enriching Metadata from Public Model Zoos',
        description: '<strong>Ziyu Li</strong>, Rihan Hai, Asterios Katsifodimos, Alessandro Bozzon <br /> In International Conference on Web Engineering p.376-380. (2023) ',
        image:{
          src: '~/assets/images/icwe-2023.png',
          alt: 'Colorful Image',
        },
      },
      {
        title: 'Optimizing ML Inference Queries Under Constraints',
        description: 'Ziyu Li, Wenbo Sun, Rihan Hai, Alessandro Bozzon, Asterios Katsifodimos <br /> In International Conference on Web Engineering p.51-66 (2023).',
        image:{
          src: '~/assets/images/icwe-2023.png',
          alt: 'Colorful Image',
        },
      },
      {
        title: 'Optimizing Machine Learning Inference Queries for Multiple Objectives',
        description: 'Ziyu Li, Mariette Schonfeld, Rihan Hai, Alessandro Bozzon, Asterios Katsifodimos <br /> In Proceedings - 2023 IEEE 39th International Conference on Data Engineering Workshops, ICDEW 2023 p.74-78, Institute of Electrical and Electronics Engineers (IEEE) (2023)',
        image:{
          src: '~/assets/images/icde-2023.png',
          alt: 'Colorful Image',
        },
      },
      {
        title: 'Susceptible-infected-spreading-based network embedding in static and temporal networks',
        description: 'Xiu Xiu Zhan, Ziyu Li, Naoki Masuda, Petter Holme, Huijuan Wang <br /> In EPJ Data Science Volume 9 (2020).',
        image:{
          src: '~/assets/images/epj.jpeg',
          alt: 'Colorful Image',
        },
      }
    ]}
  />

  <!-- Content Widget **************** -->
  <!--subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."-->

  <Content
    id="project"
    title="Projects"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          ' In this study, we introduce TransferGraph, a novel framework that reformulates model selection as a graph learning problem. TransferGraph constructs a graph using extensive metadata extracted from models and datasets, while capturing their inherent relationships. ',
      },
      {
        title: 'Effectiveness:',
        description:
          'Through comprehensive experiments across 16 real datasets, both images and texts, we demonstrate TransferGraph’s effectiveness in capturing essential model-dataset relationships, yielding up to a 32% improvement in correlation between predicted performance and the actual fine-tuning results compared to the state-of-the-art methods',
      },
    ]}
    image={{
      src: '~/assets/images/project/model-selection.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Model Selection with Model Zoo via Graph Learning</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'We propose a method for optimizing ML inference queries that selects the most suitable ML models to use, as well as the order in which those models are executed. We formally define the constraint-based ML inference query optimization problem, formulate it as a Mixed Integer Programming (MIP) problem.'
     },
      {
        title: 'Effectiveness:',
        description: `We develop an optimizer that maximizes accuracy given constraints. This optimizer is capable of navigating a large earch space to identify optimal query plans on various model zoos.`,
      },
    ]}
    image={{
      src: '~/assets/images/project/ml-inference-query.png',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Optimizing ML Inference Queries under
Constraints</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `The metadata serves crucial roles for reporting, auditing, ensuring reproducibility, and enhancing interpretability. Despite the growing adoption of descriptive formats like datasheets and model cards, the metadata available in existing model zoos remains notably limited. Moreover, existing formats have limited expressiveness, thus constraining the potential use of model repositories, extending their purpose beyond mere storage for pre-trained models. `,
      },
      {
        title: 'Contributions:',
        description: `This paper proposes a unified metadata representation format for model zoos. We illustrate that comprehensive metadata enables a diverse range of applications, encompassing model search, reuse, comparison, and composition of ML models. We also detail the design and highlight the implementation of an advanced model zoo system built on top of our proposed metadata representation`,
      },
    ]}
    image={{
      src: '~/assets/images/project/macaroni.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Macaroni: Metadata Representations for Queryable Repositories of Machine Learning Models</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- BlogLatestPost Widget **************** -->
  <!-- information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}-->

  <BlogLatestPosts
    id="blog"
    title="Explore more on the projects with the posts"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
