---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Ziyu Li',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Publications', href: '#publications' },
        { text: 'Projects', href: '#project' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/zLizy' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ziyu Li"
    tagline="About me"
  >
    <Fragment slot="subtitle">
      I'm currently a postdoctoral researcher at the Web Information Systems group at Delft University of Technology, actively seeking employment opportunities.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://www.wis.ewi.tudelft.nl/assets/img/people/ziyu_li.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am a PhD student at the Web Information Systems group, Department of Software Technology, Faculty of EEMCS, Delft University of Technology. The PhD project belongs to the HyperEdge project with Cognizant. I’m supervised by Alessandro Bozzon and Asterios Katsifodimos. 
      </p>
      <br />
      <p>
        My research lies at the intersection of Machine Learning and data analysis. In particular, my reserach investigates how to apply metadata of different artifacts (e.g., model, data, hardware settings) to improve the effectiveness and efficiency of machine learning workflows. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
  <!-- Content Widget **************** -->


  <Features3
    id="publications"
    title="Publications"
    columns={1}
    items={[
      {
        callToAction:{
          text:'Model Selection with Model Zoo via Graph Learning',
          href: 'amalur',
        },
        description: '<strong> Ziyu Li </strong>, Hilco van der Wilk, Danning Zhan, Megha Khosla, Alessandro Bozzon, Rihan Hai <br \> In Proceedings of the 2024 IEEE 40th International Conference on Data Engineering, ICDE 2024',
      },
      {
        callToAction:{
          text:'Amalur: the Convergence of Data Integration and Machine Learning',
          href: 'amalur',
        },
        paperurl: {
          href: 'https://ieeexplore.ieee.org/abstract/document/10412203',
        },
        description: '<strong> Ziyu Li</strong>, Wenbo Sun, Danning Zhan, Yan Kang, Lydia Chen, Alessandro Bozzon, and Rihan Hai. <br /> IEEE Transactions on Knowledge and Data Engineering (2024).'
      },
      {
        callToAction: {
          target: '_blank',
          title: '',
          href: 'amalur',
          text: 'Amalur: Data Integration Meets Machine Learning',
        },
        paperurl: {
          href: 'amalur',
        },
        blogurl: {
          href: 'amalur',
        },
        description: 'Rihan Hai, Christos Koutras, Andra Ionescu, <strong>Ziyu Li</strong>, Wenbo Sun, Jessie van Schijndel, Yan Kang, Asterios Katsifodimos <br /> In Proceedings of the 2023 IEEE 39th International Conference on Data Engineering, ICDE 2023 p.3729-3739, IEEE .',
      },
      {
        title: 'Metadata Representations for Queryable Repositories of Machine Learning Models',
        description: 'Ziyu Li, Henk Kant, Rihan Hai, Asterios Katsifodimos, Marco Brambilla, Alessandro Bozzon <br /> In IEEE Access Volume 11 p.125616-125630 (2023).'
      },
      {
        title: 'Macaroni: Crawling and Enriching Metadata from Public Model Zoos',
        description: '<strong>Ziyu Li</strong>, Rihan Hai, Asterios Katsifodimos, Alessandro Bozzon <br /> In International Conference on Web Engineering p.376-380. (2023) ',
      },
      {
        title: 'Optimizing ML Inference Queries Under Constraints',
        description: 'Ziyu Li, Wenbo Sun, Rihan Hai, Alessandro Bozzon, Asterios Katsifodimos <br /> In International Conference on Web Engineering p.51-66 (2023).'
      },
      {
        title: 'Optimizing Machine Learning Inference Queries for Multiple Objectives',
        description: 'Ziyu Li, Mariette Schonfeld, Rihan Hai, Alessandro Bozzon, Asterios Katsifodimos <br /> In Proceedings - 2023 IEEE 39th International Conference on Data Engineering Workshops, ICDEW 2023 p.74-78, Institute of Electrical and Electronics Engineers (IEEE) (2023)'
      },
      {
        title: 'Susceptible-infected-spreading-based network embedding in static and temporal networks',
        description: 'Xiu Xiu Zhan, Ziyu Li, Naoki Masuda, Petter Holme, Huijuan Wang <br /> In EPJ Data Science Volume 9 (2020).'
      }
    ]}
  />

  <!-- Content Widget **************** -->
  <!--subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."-->

  <Content
    id="project"
    title="Projects"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          ' In this study, we introduce TransferGraph, a novel framework that reformulates model selection as a graph learning problem. TransferGraph constructs a graph using extensive metadata extracted from models and datasets, while capturing their inherent relationships. ',
      },
      {
        title: 'Effectiveness:',
        description:
          'Through comprehensive experiments across 16 real datasets, both images and texts, we demonstrate TransferGraph’s effectiveness in capturing essential model-dataset relationships, yielding up to a 32% improvement in correlation between predicted performance and the actual fine-tuning results compared to the state-of-the-art methods',
      },
    ]}
    image={{
      src: '~/assets/images/model-selection.png',
      alt: 'Tech Design Image',
      width: '380',
      height: '150'
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Model Selection with Model Zoo via Graph Learning</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        // title: 'Description:',
        description:
          'In this study, we introduce TransferGraph, a novel framework that reformulates model selection as a graph learning problem. TransferGraph constructs a graph using extensive metadata extracted from models and datasets, while capturing their inherent relationships. ',
      },
      {
        // title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[{
      variant:"primary",
      text: 'Hire me',
      href: '/',
    }]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
